*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    overflow:hidden;

    background:#efefec;

    font-family:Inter,sans-serif;

}

/* фон */

.background{

    position:fixed;
    inset:0;

    background:

        radial-gradient(circle at top right,
        rgba(220,190,120,.15),
        transparent 35%),

        linear-gradient(#f8f8f7,#ecebe8);

}

/* карточка */

.container{

    width:min(92%,430px);

    margin:40px auto;

    padding:45px;

    border-radius:28px;

    background:rgba(255,255,255,.70);

    backdrop-filter:blur(18px);

    box-shadow:

    0 20px 60px rgba(0,0,0,.08);

}

.logo{

    font-size:60px;

    text-align:center;

}

h1{

    margin-top:20px;

    text-align:center;

    font-family:"Cormorant Garamond",serif;

    font-size:44px;

    color:#222;

}

.subtitle{

    margin-top:8px;

    text-align:center;

    color:#98783d;

    letter-spacing:2px;

    text-transform:uppercase;

    font-size:13px;

}

.divider{

    width:70px;

    height:1px;

    background:#c8a95d;

    margin:35px auto;

}

.text{

    color:#555;

    line-height:1.8;

    text-align:center;

    font-size:15px;

}

.links{

    margin-top:40px;

    display:flex;

    flex-direction:column;

    gap:14px;

}

.links a{

    text-decoration:none;

    color:#333;

    background:white;

    border-radius:14px;

    padding:16px;

    text-align:center;

    transition:.25s;

    border:1px solid rgba(0,0,0,.06);

}

.links a:hover{

    background:#d4b066;

    color:white;

}
